@font-face {
    font-family: "logo-font";
    src: url(./fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(241, 241, 241);
}

.container {
    display: flex;
}

.left-container {
    background-image: url(img/backgroundImg.jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    width: 36vw;
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-logo {
    width: 7vw;
    height: 15vh;
    margin-right: 10px;
}

.logo-text {
    padding-top: 10px;
    color: white;
    text-align: center;
    font-family: "logo-font";
    font-size: 7rem;
}

.logo-content {
    background-color: rgba(0, 0, 0, 0.40);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36vw;
    position: absolute;
    top: 165px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 36vw;
}

p {
    color: white;
    text-align: center;
    font-size: 0.7rem;
}

.rightContainer {
    display: flex;
    justify-content: center;
}

.topPart {
    padding-left: 40px;
    position: absolute;
    top: 120px;
}

.topText {
    color: black;
    font-size: 20px;
    font-weight: 550;
}

.boxShadow {
    width: 70vw;
    min-height: 30vh;
    background-color: white;
    position: absolute;
    top: 308px;
    box-shadow: 10px 5px 5px grey;
}

.mainText {
    padding-top: 10px;
    padding-left: 40px;
    font-weight: 550;
    font-size: 18px;
}

.first-input ,.second-input, .last-input{
    padding-top: 20px;
    padding-left: 40px;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    gap: 45px;
}

#first_name, #last_name, #email, #phone_number, #password, #confirm_password {
    border: 1px solid #E5E7EB;
    width: 15vw;
}

input:invalid#password, input:invalid#confirm_password {
    border: 1px solid red;
}

.bottomPart {
    padding-left: 40px;
    position: absolute;
    top: 530px;
}

.bottomText {
    font-size: 15px;
    font-weight: 550;
}

#createAccount {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #596D48;
    color: white;
    font-weight: 600;
    width: 15vw;
    height: 5vh;
    border-radius: 10px;
}

#message {
    font-size: 18px;
}
